@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
header {
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-content-top {
  background: #545bc4;
  height: 30px;
  width: 100%;
}
.header-content-top .content {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}
.header-content-top .content span {
  color: #fff;
  font-size: 12px;
  margin: 0 15px;
}
.header-content-top .content span .fas {
  margin-right: 5px;
}
p {
  font-size: 14px;
  color: #6b7280;
}

.signup-form {
  width: 50%;
  margin: 0 auto;
  padding: 32px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 4px 8px #6b728040;
  text-align: center;
  display: inline-block;
}

.input {
  position: relative;
  margin-bottom: 24px;
}

.input input {
  width: 100%;
  border: none;
  padding: 8px 40px;
  border-radius: 4px;
  background-color: #f3f4f6;
  color: #1f2937;
  font-size: 16px;
}

.input input::placeholder {
  color: #6b7280;
}

.input i {
  top: 50%;
  width: 36px;
  position: absolute;
  transform: translateY(-50%);
  color: #6b7280;
  font-size: 16px;
}

.signup-btn {
  width: 100%;
  border: none;
  padding: 8px 0;
  margin: 24px 0;
  border-radius: 4px;
  background-color: #6366f1;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn:active {
  background-color: #4f46e5;
  transition: all 0.3s ease;
}

a {
  color: #6366f1;
  text-decoration: none;
}
